<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Socket.io - System Alert</title>
    <script src="javascripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/sysAlert.js"></script>
</head>
<body>
<h1>Socket.io - System Alert</h1>
<div id="node">
	<input type="text" id="host" name="host" value="http://localhost"/>
	<input type="button" onclick="startup()" value="OK"/>
</div>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script src="javascripts/highcharts/highcharts.js"></script>
<script src="javascripts/highcharts/modules/exporting.js"></script>
</body>
</html>

